
  <div class="modal">
    <ion-header-bar class="bar-secondary">
      <h1 class="title">New Task</h1>
      <button class="button button-clear button-positive" ng-click="closeNewTask(createForm.taskInput)">Cancel</button>
    </ion-header-bar>
    <form name='createForm' novalidate>
    <ion-content>
        <div class="list">
          <label class="item item-input">
            <input type="text" name='taskInput' placeholder="What do you need to do?" ng-model="task.title" value= '' required/>
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive" ng-click='createTask(task)'>Create Task</button>
        </div>
    </ion-content>
    </form>
  </div>
